:root {}

html {
  font-size: 1vw;
  font-family: 'Varela Round', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-image: url(../images/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center;
  background-position-y: center; */
}

.container-exposicao {
  display: grid;
  grid-template-columns: 34.7rem;
  grid-template-rows: 23rem;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  position: relative;
  top: 195px;
  left: 195px;
}

.imagem-exposicao {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(189, 187, 178);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.imagem-exposicao img {
  width: 100%;
}

.attribution {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: right;
  margin: 2rem 1rem 0 0;
}

.attribution img {
  width: 2%;
}
